[project]
	description = A set of layered reusable charts build on D3.js for map like interaction on local coordinate systems. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Zhou (Dominator008)
[access "refs/for/refs/*"]
	read = group user/Michael Zhou (Dominator008)
	push = group user/Michael Zhou (Dominator008)
	label-Code-Review = -2..+2 group user/Michael Zhou (Dominator008)
	label-Verified = -1..+1 group user/Michael Zhou (Dominator008)
	rebase = group user/Michael Zhou (Dominator008)
	removeReviewer = group user/Michael Zhou (Dominator008)
	submit = group user/Michael Zhou (Dominator008)
[access "refs/heads/*"]
	read = group user/Michael Zhou (Dominator008)
	create = group user/Michael Zhou (Dominator008)
	push = +force group user/Michael Zhou (Dominator008)
	pushMerge = group user/Michael Zhou (Dominator008)
[access "refs/tags/*"]
	push = +force group user/Michael Zhou (Dominator008)
	pushTag = group user/Michael Zhou (Dominator008)
	pushSignedTag = group user/Michael Zhou (Dominator008)
